h1 {
    color: purple;
} 

h1 {
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    margin:auto
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

div {
    display: flex;
}

li {
    color: blueviolet;
}

div {
    color: purple;
}