h1 {
    color: purple;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:auto
}

h3 {
    color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

details {
    color: darkslateblue;
}

.imagenes {
    display: flex;
    justify-content: center;
    margin: auto;
}

button {
    color: blueviolet;
}

body {
    background-image: url(grisfondopaginahtml.jpg);
}

