button {
    color: red;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

h3 {
    color: red;
}

h4 {
    color: red;
}

a {
    color: red;
}

footer {
    color: red;
}

body {
    background-image: url(grisfondopaginahtml.jpg);
}