h1 {
    color: purple;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:auto
}

h3 {
    color: darkmagenta;
}

summary {
    color: darkslateblue;
}

li {
    color: darkslateblue;
}