h1 {
    color: purple;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:auto
}

h3 {
    color: darkmagenta;
    text-align: center;
}

summary {
    color: darkslateblue;
}

li {
    color: darkslateblue;
    
}

ul {
    text-align: center;
}

.imagenes {
    display: flex;
    justify-content: center;
    margin: auto;
}

button {
    color: blueviolet;
}

body {
    background-image: url(./grisfondopaginahtml.jpg);
}
