h1 {
    color: blue;
}

h2 {
    color: blue;
}

h3 {
    color: blue;
}

h4 {
    color: blue;
}

footer {
    color: blue;
}

button {
    color: blue;
}

body {
    background-image: url(grisfondopaginahtml.jpg);
}