h1 {
    color: purple;
    text-align: center;
}

h3 {
    color: blueviolet;
    text-align: center;
}

ul {
    color: darkslateblue;
    text-align: center;
    list-style-type: none;

}

.imagenes {
    display: flex;
    justify-content: center;
    margin: auto;
}

button {
    color: blueviolet;
}

body {
    background-image: url(grisfondopaginahtml.jpg);
}